<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Streszczanie AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<main class="container">
    <nav class="main-nav"><a href="/czat" class="nav-link">Czat</a> <a href="/analiza-strona" class="nav-link">Analiza
        CSV</a> <a href="/streszczenie-strona" class="nav-link">Streszczanie</a> <a href="/wyloguj"
                                                                                    class="nav-link logout-link">Wyloguj</a>
    </nav>
    <h1>Streszcz tekst</h1>
    <form action="/streszcz" method="POST"><textarea name="tekst_do_streszczenia" rows="6"></textarea>
        <button type="submit">Streszcz</button>
    </form>
    {% if blad %}
    <div class="answer-box"><p>{{ blad }}</p></div>
    {% endif %}
    {% if streszczenie_ai %}
    <div class="answer-box"><p>{{ streszczenie_ai }}</p></div>
    {% endif %}
</main>
</body>
</html>